.profile {
    grid-area: content;
    background-color: #fff;
    border-radius: 4px;
    /*border-bottom: 3px solid rgb(74, 110, 120);*/
    /*border-right: 3px solid rgb(74, 110, 120);*/
    font-family: 'Neucha';
    color: #285473;
    margin: 10px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.profile img {
    margin: 20px 20px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}



.right_block {
    float: right;
}